<!-- title provided for title helper -->
<% provide :title, "About" %>
<head>

</head>

  <h1>About Newsfeed
  </h1>

<p>Your community chooses what posts are relevant so you can read with confidence
</p>

